.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  padding: 0.5rem;
}

.header > p > * {
  padding: 0.5rem;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.inputTextarea {
  height: 3rem;
  resize: none;
  padding: 0.5rem;
}

.main > textarea:not(.inputTextarea) {
  flex: 1;
  resize: none;
  padding: 0.5rem;
}

.footer {
  padding: 0.5rem;
}

.manipulator {
  display: flex;
  flex-direction: row;
  column-gap: 2rem;
  flex-wrap: wrap;
}

.manipulator > .parentheses {
  display: flex;
  flex-direction: row;
  column-gap: 2px;
  flex-wrap: wrap;
}
