.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  padding: 0.5rem;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.main > textarea {
  flex: 1;
  resize: none;
  padding: 0.5rem;
}

.footer {
  padding: 0.5rem;
}

.manipulator {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  flex-wrap: wrap;
}
